.*.sw?
/pkg
/spec/fixtures
/spec/fixtures
/.rspec_system
/.vagrant
/.bundle
/vendor
/junit
/log
.yardoc
coverage
/vagrant/puppet/environments/vagrant/modules
/vagrant/puppet/environments/vagrant/Puppetfile
/vagrant/puppet/environments/vagrant/Puppetfile.lock
/vagrant/tmp
.tmp
.librarian
